/*-----------------------------
		Responsive style
-----------------------------*/



/*	MIN WIDTH 992PX & MAX WIDTH 1199PX	*/

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 17px 22px;
  }
}



/*	MAX WIDTH 991PX	*/

@media only screen and (max-width: 991px) {
  .nvabar{
    padding: 10px 0;
  }
  .navbar-toggler{
    background: #fff;
  }
  .navbar-toggler .navbar-toggler-icon{
    position: relative;

  }

  .footer-widget.info-widget, .footer-widget.link-widget{
    text-align: center !important;
    border: 0;
  }
  .footer-widget-area {
    padding-top: 50px;
  }
  .footer-widget{
    margin-bottom: 30px;
  }
  .footer-logo-container {
    margin-top: 15px;
    margin-bottom: 30px;
}
.footer-widget.link-widget{
  margin-top: 0;
}
}



/*	MAX WIDTH 767PX	*/

@media only screen and (max-width: 767px) {
}



/*	MAX WIDTH 700PX	*/

@media only screen and (max-width: 700px) {
}



/*	MAX WIDTH 640PX	*/

@media only screen and (max-width: 640px) {

}
