body{
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	font-weight:500;
}
a{

    transition: all .3s;
	-webkit-transition: all 0.3s;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #314252;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: #000;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.main-content-wrapper {
		width: 100%;
		height: 100vh;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: stretch;
		align-items: stretch;
}

.login-area {
		width: 35%;
		position: relative;
		box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
		background-color: #0d1b28;
		padding-top: 100px;
		color: #fff;
		overflow-y: scroll;
}

.login-area .login-header,
.login-area .login-button {
		text-align:center;
}

.image-area {
	width: 75%;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
}

.image-area.forgot-pass {
    background-image: url(../img/bg2.jpg);
}

.login-header,.login-content {
    padding: 0 60px;
	margin-bottom: 60px;
}

h2.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
		color: #fff;
}
form#form_login {
    max-width: 330px;
    margin: 0 auto;
}

input.input-field {
    width: 100%;
    padding: 14px 10px;
    margin-bottom: 14px;
    background: #1b2935;
    border: 1px solid #424a52;
    position: relative;
    transition: all .3s;
    -webkit-transition: all 0.3s;
    display: block;
    box-sizing: border-box;
	color:#000;
}

input.input-field:focus {
    outline: none;
    border: 1px solid #bec8d2;
    background: #f7f7f7;
}

.form-group {
    display: block;
    width: 100%;
}

button.btn.btn-primary {
    width: 100%;
    padding: 14px 10px;
    background: #2191bf;
    box-shadow: none;
    color: #ffffff;
    border: 1px solid #2d86ab;
    margin-bottom: 30px;
}
button.btn.btn-primary i {
    font-size: 16px;
    margin-left: 10px;
    color: #b1c8d2;
}
.login-bottom-links a.link {
    display: block;
    color: #72818e;
}
.login-bottom-links a.link:hover {
    color: #fff;
}
.login-bottom-links a.link i {
    margin-right: 10px;
    font-size: 14px;
}


@media (min-width: 1500px) {
	.login-area {
		width: 35%;
	}
	.image-area{
		width:75%
	}
}
@media (max-width: 1499px) {
	.login-area {
		width: 40%;
	}
	.image-area{
		width:60%
	}
}

@media only screen and (max-width: 991px) {
	.login-area {
		width: 45%;
	}
	.image-area{
		width:55%
	}
}

@media only screen and (max-width: 767px) {
	.login-area {
		width: 55%;
	}
	.image-area{
		width:45%
	}
	.login-header, .login-content {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 600px) {
	.login-area {
		width: 100%;
	}
	.image-area{
		width:0%;
		display:none;
	}
}
